/*
========================================================================
    About Me
========================================================================
*/
.pro img{ border-radius: 0; width:100%;}

.CV {
    text-align: center;
}

.CV a {
    font-family: SCRIPTBL;
    font-size: 38px;
    color: #000277;
}